/*底部图标和文字*/
footer .mine_icon span {
    background: url(/static/img/mine_selected.png) no-repeat;
    background-size: 0.513889rem;
}

footer .mine_icon dd {
    color: orange;
}

/*内容容器*/
#mine {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: +10;
    background: whitesmoke;
    overflow: hidden;
    padding-bottom: 1.5rem;
    padding-top: 4rem;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: pink;
    padding-top: 0.5rem;
}

.fixed > span > span {
    display: block;
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 0 0.3rem 0;
    font-size: 1.5rem;
    color: black;
    background: white;
    text-align: center;
    border-radius: 50%;
    line-height: 1.8rem;
}

.fixed > span > .u_icon {
    display: block;
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 0 0.3rem 0;
    font-size: 1.5rem;
    color: black;

    text-align: center;
    border-radius: 50%;
    line-height: 1.8rem;
}

.fixed p {
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    color: white;
}

.fixed p span:first-child {
    color: black;
}

.fixed p span:last-child {
    color: red;
    display: inline-block;
    text-indent: 0.3rem;
}

#regis {
    position: absolute;
    right: 0.3rem;
    top: 1.3rem;
    color: white;
    font-size: 1rem;
}

.fixed p:last-child {
    background: #f0e000;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    font-size: 0.4rem;
    line-height: 0.5rem;
    /*height: 0.2rem;*/
}

.fixed p:last-child span {
    margin: 0.2rem 0;
}

.fixed p:last-child span:first-child {
    color: red;
}

.fixed p:last-child span:last-child {
    color: white;
}

/*我的中的各种入口*/
.mine {
    width: 100%;
    height: 100rem;
    overflow: auto;
    padding-bottom: 1.5rem;
    font-size: 0.4rem;
}

.mine p {
    line-height: 1.5rem;
    padding: 0 0.3rem;
    background: white;
    border-bottom: 0.04rem solid lightyellow;
}

.mine p a {
    color: grey;
    float: right;
}

.mine #nav, .mine menu {
    padding: 0.5rem 0 0.3rem;
    margin-bottom: 0.4rem;
    background: white;
}

.mine #nav ul, .mine menu ul {
    display: flex;
    justify-content: space-around;
}

.mine #nav ul li dl, .mine menu ul li dl {
    text-align: center;
}
#badge1{
    left: 1.8rem;
    top: 5.8rem;
}
#badge2{
    left: 4.2rem;
    top: 5.8rem;
}
.badge {
    background: red;++++++++
    color: white;
    position: absolute;
    font-size: 0.35rem;
    min-width: 0.5rem;
    padding: 0.1rem 0.1rem;
    border-radius: 1rem;
}

.mine #nav ul li dl dt, .mine menu ul li dl dt {
    width: 100%;
    line-height: 1rem;
}

.mine #nav ul li dl dt span, .mine menu ul li dl dt span {
    font-size: 0.5rem;
}

.mine menu ul {
    flex-wrap: wrap;
}

.mine menu ul li {
    width: 25%;
}

.mine menu ul li:last-child {
    width: 100%;
}

.mine menu ul li:last-child dl {
    width: 25%;
}

.mine p:last-child > a {
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    display: block;
    float: none;
}